html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
}


.main-container {
  background-color: white;
  height: 100%;
  width: 100%;
  font-family: 'PT sans', sans-serif;
}
.info {
  background-color: #e9ecf1;
  height: 100vh;
  width: 30%;
  float: left;
}

.green-box {
  background-color: #00ae67;
  height: 300px;
  width: 100%;
  padding
}

.profile-pic {
  background-color: #00ae67;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding-top: 20px;
}

#profile-pic {
  height: 225px;
  width: 225px;
  border-radius: 50%;
}

#name {
  color: #646973;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 15px;
  font-size: 47px;
}

#title {
  color: #00ad68;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

.menu-box {
  background-color: #e9ecf1;
  height: 150px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 55px;
}

#menu {
  color: #646973;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  line-height: 85px;
  text-decoration: none;
}

#menu:hover {
  color: #00ae67;
  font-size: 43px;
}

.code-icon {
  color: #646973;
  font-size: 20em;
}


.skills-content {
  background-color: none;
  height: 430px;
  width: 60%;
  float: right;
  margin-top: 15px;
  margin-right: 40px;
  border-color: red;
  text-align: center;
  position: relative;
}

.left-side {
  background-color: none;
  height: 60%;
  width: 40%;
  float: left;
  margin-left: 30px;
  margin-top: 15px;
}

.front-end-header {
  color: #00ad68;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
}

.top-left-section {
  background-color: none;
  height: 25%;
  width: 100%;
  margin-top: 85px;
}

.html5-logo {
height: 100px;
text-align: center;
}

.js-logo {
height: 109px;
text-align: center;
margin-left: 45px;
}

.bottom-left-section {
  background-color: none;
  height: 25%;
  width: 100%;
  margin-top: 125px;
}

.jQuery-logo {
  height: 100px;
  text-align: center;
  margin-left: 45px;
}

.CSS-logo {
  height: 100px;
}

.vertical-line {
  display: inline-block;
  background-color: #eeeeee;
  height: 100%;

}

.right-side {
  background-color: none;
  height: 60%;
  width: 40%;
  float: right;
  margin-right: 30px;
  margin-top: 15px;
}

.back-end-header {
  color: #00ad68;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
}

.top-right-section {
  background-color: none;
  height: 50px;
  width: 100%;
  color: #00ad68;
  margin: 0 auto;
  margin-top: 80px;
}

.mongodb-logo {
  height: 75px;
  margin-top: 10px;
}

.middle-right-section {
  background-color: none;
  height: 25%;
  width: 100%;
  margin-top: 30px;
}

.express-logo {
  height: 75px;
  margin-top: 47px;
}

.bottom-right-section {
  background-color: none;
  height: 35px;
  width: 100%;
  color: #00ad68;
  margin: 0 auto;
}

.node-logo {
  height: 110px;
  margin-top: 66px;
}



.portfolio-content {
  background-color: none;
  height: 430px;
  width: 60%;
  float: right;
  margin-top: 15px;
  padding-top: 35px;
  margin-right: 40px;
  border-color: red;
  text-align: center;
  position: relative;
}

.item {
  background-color: none;
  height: 300px;
  width: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.contact-content {
  background-color: none;
  height: 430px;
  width: 60%;
  float: right;
  margin-top: 15px;
  margin-right: 40px;
  border-color: red;
  text-align: center;
  position: relative;
}

.contact-title {
  color: #646973;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 15px;
  font-size: 40px;
}


.contact-info {
  color: #00ad68;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  margin-top: 175px;
}

#cell {
  font-size: 35px;
}

#email {
  font-size: 35px;
}

.footer {
  background-color: none;
  height: 50px;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  margin-bottom: 35px;
}

.footer-icons {
  height: 50px;
  width: 50px;
  float: left;
}

.linkedin {
  height: 35px;
  width: 35px;
  color: #646973;

}

.github {
  height: 25px;
  width: 25px;
  color: #646973;
}

.twitter {
  height: 35px;
  width: 35px;
  color: #646973;
}

/*#cell {
  color: #00ad68;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
}*/

/*#email {
  color: #00ad68;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
}*/

/*.paragraphs {
  background-color: #e9ecf1;
  height: 50px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}*/

/*.p {
  margin: 0 auto;
  font-size: 16px;
  color: #646973;*/
  /* font-family: 'PT Sans', sans-serif; */


/*.footer {
  background-color: #353641;
  height: 100px;
  width: 100%;
}*/
/*@media (max-width: 768px){
  #name{
    font-size: 9.2em !important;
  }*/
