<section class="info">

  <div class="green-box">
    <div class="profile-pic">
      <img id="profile-pic" ng-src='{{profilePicture}}'/>
    </div>
  </div>

  <h1 id="name">Michael Spencer</h1>
  <h3 id="title">Developer | Entrepreneur</h3>

  <div class="menu-box">
    <a style="text-decoration: none" ui-sref="skills"><h3 id="menu">Skills</h3></a>
    <a style="text-decoration: none" ui-sref="portfolio"><h3 id="menu">Portfolio</h3></a>
    <a style="text-decoration: none" ui-sref="contact"><h3 id="menu">Contact</h3></a>
  </div>


   </section>
