<info-directive profilePicture='profilePicture'></info-directive>

<div class="skills-content">

    <section class="skills-title">
  <i class="fa fa-code code-icon fa-5x"></i>
    </section>


    <section class="left-side">
        <h1 class="front-end-header">Front-end</h1>

        <hr>
        <section class="top-left-section">
          <img class="html5-logo" src="/images/html5.png" alt="" />
          <img class="js-logo" src="/images/js.png" alt="" />
        </section>

        <section class="bottom-left-section">
          <img class="CSS-logo" src="/images/CSS-logo.png" alt="" />
          <img class="jQuery-logo" src="/images/jQuery.gif" alt="" />
        </section>
    </section>


    <hr class='vertical-line' width="1" size="280">

    <section class="right-side">
      <h1 class="back-end-header">Back-end</h1>

        <hr>
      <section class="top-right-section">
        <img class="mongodb-logo" src="/images/mongodb.png" alt="" />
      </section>

      <section class="middle-right-section">
        <img class="express-logo" src="/images/express1.png" alt="" />
      </section>

      <section class="bottom-right-section">
        <img class="node-logo" src="/images/node.png" alt="" />
      </section>


    </section>


</div>
